body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #222;
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: underline;
    /*color: #ff5e6c;*/
}

.title {
    text-decoration: none;
    border: 0;
}

.title h1 {
    font-size: 1.5em;
}

.title span {
    font-weight: 400;
}

.bear::before {
    content: "ᕦʕ •ᴥ•ʔᕤ";
    font-weight: 400;
}

.bear:hover::before {
    content: "ᕙʕ ಠᴥಠʔᕗ";
    font-weight: 400;
}

nav a {
    margin-right: 10px;
}

textarea,
input:not([type="submit"]) {
    background-color: inherit;
    color: inherit;
    border: 1px dashed;
    padding: 5px;
    font-size: 16px;
}

.full-width textarea,
.full-width input:not([type="submit"], [type="checkbox"], [type="radio"]) {
    width: calc(100% - 15px);
}

.nav-image {
    height: 3.14rem;
    border-radius: 12.5%;
}

textarea:required,
input:required:not([type="submit"]) {
    border: 1px solid;
}

textarea.full-screen {
    position: fixed;
    background-color: white;
    top: -2px;
    bottom: -2px;
    left: 0;
    width: calc(100vw - 30px);
    max-width: 720px;
    border: 10px solid;
    border-width: 10px calc(50vw - 370px);
}

@media only screen and (max-width: 750px) {
    textarea.full-screen {
        border-width: 10px;
    }
}

button.floating {
    position: fixed;
    bottom: 20px;
    right: 25px;
}

button#toggle-full-screen {
    float: right;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: #f2f2f2;
    color: #222;
    border-radius: 3px;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: #f2f2f2;
    color: #222;
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow:auto;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px 0;
    text-align: left;
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

#id_favicon {
    width: 20px;
    text-align: center;
}

#date-range,
#initial-values,
#import-contacts {
    display: none;
}

#date-range:target,
#initial-values:target,
#import-contacts:target {
    display: block;
}

/* dashboard post list and analytics */
ul.post-list {
    list-style-type: none;
    padding: unset;
}

ul.post-list li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px dashed;
}

ul.post-list li span {
    flex: 0 0 130px;
}

ul.post-list li span.number {
    flex: 0 0 50px;
}

ul.post-list li a {
    flex: max-content;
}

ul.post-list li small {
    text-align: right;
    flex: 0 0 115px;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: #8b6fcb;
}

/* discovery feed */
ul.discover-posts {
    list-style-type: none;
    padding: unset;
}

ul.discover-posts li {
    display: flex;
    line-height: 1.2;
}

ul.discover-posts li span {
    flex: 0 0 40px;
}

ul.discover-posts li a:visited {
    color: #8b6fcb;
}

ul.discover-posts li div {
    padding-bottom: 8px;
}

ul.discover-posts li small {
    color: #777 !important;
}

ul.discover-posts li small a {
    color: #777 !important;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818;
        color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
        color: #eee;
    }

    a {
        color: #8cc2dd;
    }

    code {
        background-color: #777;
    }

    pre code {
        color: #ddd;
    }

    blockquote {
        color: #ccc;
    }

    .helptext {
        color: #aaa;
    }
}



ul.blog-posts {
    padding-bottom: 0.61803rem;
}

ul.blog-posts li {
    padding-top: 0.61803rem;
}

small a {
    padding-right: 0.61803rem;
}

hr {
    border: 1.61803px solid;
}

body:hover {
    border-image: ;
    border-width: 0;
}


small a {
    padding-right: 0.61803rem;
}

.bottom-footer {
    padding: 50px;
    text-align: center;
}