---
layout: compress
---

{% include head.html %}

    <main>

        {% include header.html %}

        {{ content }}

        <ul class="blog-posts">
            {% for post in site.posts %}
            {% for tag in post.tags %}
            <li>
                <span>
                    <i>
                        <time>
                            {{ post.date | date: "%b %-d, %Y" }}
                        </time>
                    </i>
                </span>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
            {% endfor %}
    
        </ul>

    </main>

    {% include footer.html %}

</body>
</html>
